body {
    background-color: rgb(170, 117, 92);
}

nav {
    background-color: #F7CCAC;
}

/* IDS */

#mission {
    background-color: #F7CCAC;
}

#nav-links {
    display: inline-block;
}

#top-of-home-page {

}

/* Classes */

* {

}

/* 
color scheme #1
#3A3845
#F7CCAC
#C69B7B
#826F66

color scheme #2
#1C0A00
#361500
#603601
#CC9544

color scheme #3
#402218
#865439
#C68B59
#D7B19D

*/