/* Variables */


body {
    background-color: #ffbd59;
    font-family: 'Gilda Display', serif;
}


/* IDS */

#mission {
    /* background-color: #F7CCAC; */
}

#nav-links {
    display: block;
}

#top-of-home-page {}

#leadership {
    margin-left: 10px;
}


/* Classes */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #574131 !important;
    border-color: #574131 !important;
}

.fa-instagram, .fa-envelope {
    color: #574131;
}

.leader-profile {
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    background-color: #C69B7B;
    display: inline-block;
    margin: 0 10rem;
}

.leader-profile:hover {
    background-color: #3A3845;
}

/* 
color scheme #1
#3A3845
#F7CCAC
#C69B7B
#826F66

color scheme #2
#1C0A00
#361500
#603601
#CC9544

color scheme #3
#402218
#865439
#C68B59
rgb(170, 117, 92);
#D7B19D

USE Gilda Display from Google Font

Button Colors
#574131

Text Color
#42322c

Background Color
#ffbd59

*/