/* Variables */

* {
    text-align: center;
}

body {
    background-color: #d5b796;
    font-family: 'Gilda Display', serif;
}


/* IDS */

#about-paragraph {
    padding: 2rem;
    width: 30rem;
    margin-bottom: 100px;
}

#nav-links {
    display: block;
    /* display: inline-block; */

    float: right;
}

.leader-name, .leader-profile, .leader-role {
    display: inline;
}


#to-calvin {
    text-transform: uppercase;
}

#top-of-home-page {
    /* background-color: #3A3845; */
}

#welcome {
    text-transform: uppercase;
    font-size: 10rem;
}

#welcome-text {
    text-align: center;
    padding: 15% 0;
}

/* Classes */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #574131 !important;
    border-color: #574131 !important;
}

.fa-instagram, .fa-envelope {
    color: #574131;
}

.leader-profile:hover {
    background-color: #3A3845;
}

/* 
color scheme #1
#3A3845
#F7CCAC
#C69B7B
#826F66

color scheme #2
#1C0A00
#361500
#603601
#CC9544

color scheme #3
#402218
#865439
#C68B59
rgb(170, 117, 92);
#D7B19D

USE Gilda Display from Google Font

Button Colors
#574131

Text Color
#42322c

Background Color
#d5b796

*/