<app-navbar></app-navbar>
<h1>Gallery</h1>
<img src="../../../assets//BSU-Website Photos/6mIIwj2g.jpg" class="w-25 rounded img-fluid img-thumbnail" alt="...">
<img src="../../../assets/BSU-Website Photos/ahSfSjXc.jpg" class="w-25 rounded img-fluid img-thumbnail" alt="...">
<img src="../../../assets/BSU-Website Photos/pJSgQQKA.jpg" class="w-25 rounded img-fluid img-thumbnail" alt="...">
<img src="../../../assets/BSU-Website Photos/whe7V2qE.jpg" class="w-25 rounded img-fluid img-thumbnail" alt="...">
