<app-navbar></app-navbar>

<p>leadership works!</p>

<div class="card-group">
  <app-profile-cards name="India Bob" title="President of Adminstrations"></app-profile-cards>
  <app-profile-cards name="Simone De Mann" title="President of Communications"></app-profile-cards>
  <app-profile-cards name="Joy Umutoni" title="Vice-President of Adminstrations"></app-profile-cards>
  <app-profile-cards name="Judah Ampia-Kwofi" title="Chief Financial Officer"></app-profile-cards>

</div>

<div class="card-group">
  <app-profile-cards name="Michelle Charles" title="Multicultural Director"></app-profile-cards>
  <app-profile-cards name="Laila Smith" title="Freshman Representative"></app-profile-cards>
</div>
