<app-navbar></app-navbar>
<p>BSU is a student led organization that provides resources for students of African-descent and allies to close the
  educational gap on Calvin’s campus as well as the Grand Rapids area.

  In order to achieve this goal, we unite and support Black students on campus.

  We aim to be a platform for other organizations and groups that serve black students and our student body as a whole.

  We host general assembly meetings, plan BSU sponsored events, and attend events on campus and in the community.

  Our goal is to celebrate Black excellence by supporting and promoting individual achievements while also educating
  about the contributions of different ethnic and cultural heritages.

  We spread awareness and actively fight against institutional and individual acts of racism. </p>
